body {
  height: 1000svh;
}

.AccordionRoot {
  background: black;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.AccordionTrigger {
  color: white;
  cursor: pointer;
  padding: 10px;
  background: none;
  display: flex;
  border: none;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  width: 100%;
  border-radius: 8px;
}

.AccordionChevron {
  transition: transform 0.2s ease-in-out;
}

[aria-expanded="true"] .AccordionChevron {
  transform: rotate(180deg);
}

.AccordionContent {
  padding: 10px;
  background-color: #f0f0f0;
}

.AccordionContentText {
  padding: 10px;
  border-top: 1px solid #ddd;
}

.AlertDialogOverlay {
  background-color: rgba(0, 0, 0, 0.071);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.AlertDialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.AlertDialogContent:focus {
  outline: none;
}

.AlertDialogTitle {
  margin: 0;
  color: #000;
  font-size: 17px;
  font-weight: 500;
}

.AlertDialogDescription {
  margin-bottom: 20px;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  border: none;
  font-weight: 500;
  height: 35px;
}

.Button.red {
  background-color: red;
  color: #fff;
}
.Button.red:hover {
  background-color: rgb(242, 77, 77);
  cursor: pointer;
}
.Button.red:focus {
  box-shadow: 0 0 0 2px rgb(242, 77, 77);
}
.Button.green {
  background-color: green;
  color: #fff;
}
.Button.green:hover {
  background-color: rgb(122, 228, 122);
}
.Button.green:focus {
  box-shadow: 0 0 0 2px rgb(122, 228, 122);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.title {
  color: purple;
  background-color: #000;
}

.AvatarRoot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #e1e1e1;
  overflow: hidden;
  width: 48px;
  height: 48px;
}

.AvatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.AvatarFallback {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  width: 100%;
  height: 100%;
}
.CollapsibleRoot {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #282c34;
  width: 50%;
}

.IconButton {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.Text {
  font-size: 16px;
  color: white;
}

.CollapsibleContent {
  padding-top: 10px;
}

.CollapsibleTrigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.DialogOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  animation: overlayShow 300ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 300ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogTitle {
  margin: 0;
  font-weight: 500;
  font-size: 17px;
}

.DialogDescription {
  margin: 10px 0 20px;
  font-size: 15px;
  line-height: 1.5;
}

.Fieldset {
  all: unset;
  margin-bottom: 15px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.Label {
  font-size: 15px;
  color: #333;
  width: 75px;
}

.Input {
  all: unset;
  width: 100%;
  padding: 0 10px;
  height: 35px;
  border-radius: 4px;
  background-color: #f0f0f0;
  box-shadow: 0 0 0 1px #ddd;
  font-size: 15px;
  line-height: 1;
  color: #333;
  transition: box-shadow 0.2s;
}

.Input:focus {
  box-shadow: 0 0 0 2px #7c3aed;
}

.DialogTrigger {
  all: unset;
  cursor: pointer;
  padding: 0 15px;
  font-size: 15px;
  line-height: 35px;
  border-radius: 4px;
  background-color: #7c3aed;
  color: white;
}

.Button.green {
  background-color: #4ade80;
}

.Button.violet {
  background-color: #8b5cf6;
}

.CancelButton {
  all: unset;
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #888;
  position: absolute;
  top: 10px;
  right: 10px;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.DropdownMenuContent,
.DropdownMenuSubContent {
  min-width: 220px;
  background-color: white;
  border-radius: 6px;
  padding: 5px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.DropdownMenuContent[data-side="top"],
.DropdownMenuSubContent[data-side="top"] {
  animation-name: slideDownAndFade;
}
.DropdownMenuContent[data-side="right"],
.DropdownMenuSubContent[data-side="right"] {
  animation-name: slideLeftAndFade;
}
.DropdownMenuContent[data-side="bottom"],
.DropdownMenuSubContent[data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.DropdownMenuContent[data-side="left"],
.DropdownMenuSubContent[data-side="left"] {
  animation-name: slideRightAndFade;
}

.DropdownMenuItem,
.DropdownMenuCheckboxItem,
.DropdownMenuRadioItem,
.DropdownMenuSubTrigger {
  font-size: 13px;
  line-height: 1;
  color: black;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 5px;
  position: relative;
  padding-left: 25px;
  user-select: none;
  outline: none;
}
.DropdownMenuSubTrigger[data-state="open"] {
  background-color: grey;
  color: white;
}
.DropdownMenuItem[data-disabled],
.DropdownMenuCheckboxItem[data-disabled],
.DropdownMenuRadioItem[data-disabled],
.DropdownMenuSubTrigger[data-disabled] {
  color: black;
  pointer-events: none;
}
.DropdownMenuItem[data-highlighted],
.DropdownMenuCheckboxItem[data-highlighted],
.DropdownMenuRadioItem[data-highlighted],
.DropdownMenuSubTrigger[data-highlighted] {
  background-color: red;
  color: black;
}

.DropdownMenuLabel {
  padding-left: 25px;
  font-size: 12px;
  line-height: 25px;
  color: black;
}

.DropdownMenuSeparator {
  height: 1px;
  background-color: red;
  margin: 5px;
}

.DropdownMenuItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.DropdownMenuArrow {
  fill: white;
}

.menuButton {
  font-family: inherit;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  color: red;
  background-color: white;
  box-shadow: 0 2px 10px red;
}
.menuButton:hover {
  background-color: rgb(234, 68, 68);
  color: #fff;
}
.menuButton:focus {
  box-shadow: 0 0 0 2px red;
}

.RightSlot {
  margin-left: auto;
  padding-left: 20px;
  color: grey;
}
[data-highlighted] > .RightSlot {
  color: white;
}
[data-disabled] .RightSlot {
  color: grey;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.NavigationMenuRoot {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #7c3aed;
  padding: 8px;
  align-items: center;
  padding: 2rem;
}

.NavigationMenuList {
  display: flex;
  list-style: none;
}

.NavigationMenuItem {
  margin-right: 10px;
  list-style: none;
}

.NavigationMenuTrigger {
  background-color: transparent;
  padding: 0;
  border: none;
  color: #f0f0f0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.CaretDown {
  position: relative;
  top: 1px;
  transition: transform 250ms ease;
}
[data-state="open"] > .CaretDown {
  transform: rotate(-180deg);
}

.NavigationMenuContent {
  background-color: transparent;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 5rem;
}

.NavigationMenuLink {
  text-decoration: none;
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.NavigationMenuIndicator {
  position: absolute;
  background-color: red;
  height: 4px;
  width: 4px;
}

.ListItemHeading {
  font-size: 16px;
  font-weight: bold;
}

.ListItemText {
  font-size: 14px;
  color: #555;
}

.navtext {
  color: #f0f0f0;
  font-weight: 300;
}
.navcon1 {
  background: #7c3aed;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.navcon2 {
  background: #7c3aed;
  border-radius: 8px;
  width: 80%;
  padding: 15px;
  margin-left: 4rem;
}

.navimg {
  height: 300px;
  width: 200px;
  border-radius: 8px;
  overflow: hidden;
}

.navmenulink {
  padding: 2px 10px;
  width: 90%;
}
.navmenulink:hover {
  background: white;
  border-radius: 8px;
  color: #7c3aed;
}
